<title>Lets Print</title>
<!--<title>
    Buy Cosmetic Products &amp; Beauty Products Online in India at Best Price | Candylove</title>-->
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="theme-color" content="#aeb6c8" />
<link rel="shortcut icon" href="<%=FRONTEND.FRONTEND_URL%>/../images/print.png" />

<!--Import Google Icon Font-->
<link href="<%=FRONTEND.FRONTEND_URL%>/../stylesheets/material.icons.css" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="<%=FRONTEND.FRONTEND_URL%>/../stylesheets/materialize.css" media="screen,projection"
/>
<link type="text/css" rel="stylesheet" href="<%=FRONTEND.FRONTEND_URL%>/../stylesheets/style.css" media="screen,projection"
/>
<link href="<%=FRONTEND.FRONTEND_URL%>/../stylesheets/font-awesome.min.css" type="text/css" rel="stylesheet">
<script src="<%=FRONTEND.FRONTEND_URL%>/../javascripts/jquery.min.js"></script>
<script src="<%=FRONTEND.FRONTEND_URL%>/../javascripts/materialize.min.js"></script>
<!-- extra js start-->
<script type="text/javascript" src="<%=FRONTEND.FRONTEND_URL%>/../javascripts/added/select2.min.js"></script>
<link href="<%=FRONTEND.FRONTEND_URL%>/../stylesheets/added/select2.min.css" rel="stylesheet">

<!-- highchart js start -->
<script type="text/javascript" src="<%=FRONTEND.FRONTEND_URL%>/../javascripts/added/highcharts.js"></script>
<!-- datatable js start -->
<link rel="stylesheet" href="<%=FRONTEND.FRONTEND_URL%>/../stylesheets/dataTable/jquery.dataTables.min.css">
<link rel="stylesheet" href="<%=FRONTEND.FRONTEND_URL%>/../stylesheets/dataTable/buttons.dataTables.min.css">
<script type="text/javascript" src="<%=FRONTEND.FRONTEND_URL%>/../javascripts/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="<%=FRONTEND.FRONTEND_URL%>/../javascripts/dataTables/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="<%=FRONTEND.FRONTEND_URL%>/../javascripts/dataTables/jszip.min.js"></script>
<script type="text/javascript" src="<%=FRONTEND.FRONTEND_URL%>/../javascripts/dataTables/pdfmake.min.js"></script>
<script type="text/javascript" src="<%=FRONTEND.FRONTEND_URL%>/../javascripts/dataTables/vfs_fonts.js"></script>
<script type="text/javascript" src="<%=FRONTEND.FRONTEND_URL%>/../javascripts/dataTables/buttons.flash.min.js"></script>
<script type="text/javascript" src="<%=FRONTEND.FRONTEND_URL%>/../javascripts/dataTables/buttons.html5.min.js"></script>
<script type="text/javascript" src="<%=FRONTEND.FRONTEND_URL%>/../javascripts/dataTables/buttons.print.min.js"></script>
<script type="text/javascript" src="<%=FRONTEND.FRONTEND_URL%>/../javascripts/dataTables/buttons.colVis.min.js"></script>
<!-- extra js start-->

<!-- datatable js end -->
<script src="<%=FRONTEND.FRONTEND_URL%>/../javascripts/script.js"></script>
<script src="<%=FRONTEND.FRONTEND_URL%>/../javascripts/jquery.typewatch.js"></script>
<script src="<%=FRONTEND.FRONTEND_URL%>/../javascripts/jquery.validate.min.js"></script>
<script src="<%=FRONTEND.FRONTEND_URL%>/../javascripts/numberValidation.js"></script>
<script src="<%=FRONTEND.FRONTEND_URL%>/../javascripts/passwordEye.js"></script>
<script src="<%=FRONTEND.FRONTEND_URL%>/../javascripts/moment.min.js"></script>
<script src="<%=FRONTEND.FRONTEND_URL%>/../javascripts/ckeditor/ckeditor.js"></script>
<!-- LazyLoad -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.7.1/lazyload.min.js"></script>

<!-- <link rel="stylesheet" href="https://i.icomoon.io/public/temp/ae52ce7d8d/candylove/style.css"> -->
